<main>
  <header>
    <h1>🧠 Predicción de ventas en un Ecommerce</h1>
  </header>
  <section class="content-group">
    <div class="card">
      <div>
        <h2>Ingreso de datos</h2>
        <form class="card-content" action="" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="fecha">Fecha a predecir:</label>
            <input class="form-control fecha" id="fecha" type="date" formControlName="fecha">
          </div>
          <button class="btn-primary" type="submit">CALCULAR VENTAS ESPERADAS</button>
        </form>
      </div>
      <div>
        <h2>Predicción del Sistema</h2>
        <p>Número de ventas esperadas</p>
        <span class="prediction-value">{{ predictionResult.predicted_sales | number:'1.0-0' }}</span>
      </div>
    </div>
  </section>
</main>
